<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>HEY</title>{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'js/scripts.js' %}"></script>

</head>

<body>
	




	
<div class="navbar">
  <a href="{% url 'index' %}">Главная</a>
  <div class="subnav">
    <button class="subnavbtn">Устройства<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="snmp">SNMP Traps</a>
      <a href="{% url 'devices' %}">Востановление устройств</a>
      <a href="#careers">Конфигурация</a>
    </div>
  </div> 
  <a href="{% url 'zabbix' %}">Мониторинг</a>
  <div class="subnav">
    <button class="subnavbtn">Настройки <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Системы востановеления</a>
      <a href="#link2">Системы монитроинга</a>
    </div>
  </div>
  
</div>
<div class="mainContent">
	{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</div>	
</body>
</html>