<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title></title>{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
	




	
<div class="navbar">
  <a href="{% url 'index' %}">Главная</a>
  <div class="subnav">
    <button class="subnavbtn">Устройства<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="snmp">SNMP Traps</a>
      <a href="{% url 'devices' %}">Востановление устройств</a>
      <a href="#careers">Конфигурация</a>
    </div>
  </div> 
  <a href="{% url 'zabbix' %}">Мониторинг</a>
  <div class="subnav">
    <button class="subnavbtn">Настройки <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Link 1</a>
      <a href="#link2">Link 2</a>
      <a href="#link3">Link 3</a>
      <a href="#link4">Link 4</a>
    </div>
  </div>
  
</div>
	{% block content %}<!-- default content text (typically empty) -->{% endblock %}
	
</body>
</html>