{% extends "base_generic.html" %}


{% block content %}


<div>
	<div>
		<h1>Востановление работоспособности узлов</h1>	
	</div>
	<hr>
	<div>
		<h3>Выберите способ подключения</h3>

		<div>
			<input id = "sshCheck" type="radio"  name="connectMethod" value="ssh" checked onclick="javascript:sshtelnetCheck();">
			<label for="ssh">SSH</label>
		</div>

		<div>
			<input id = "telnetCheck" type="radio"  name="connectMethod" value="telnet" onclick="javascript:sshtelnetCheck();">
			<label for="telnet">Telnet</label>
		</div>
	</div>
	<hr>
	<hr>

	<div class="row" >
		<div class="column">
			<form action="set_conf" method="POST">
				<div><h3>Востановление конфигурации устройства</h3></div>
				<div class = 'sshCon'  >

					<div><input type="text" name="DEVICES_IP" placeholder="Адрес узла"></div>
					<div><input type="text" name="USER_NAME" placeholder="Имя пользователя SSH"></div>
					<div><input type="text" name="PASSWORD" placeholder="Пароль пользователя SSH"></div>
					<div><input type="text" name="SERVER_IP" placeholder="Адрес cервера"></div>
					<div><input type="text" name="EN_PASS" placeholder="Пароль ENABLE"></div>
					<div><input type="text" name="CONF_NAME" placeholder="Имя Конфигурационного файла"></div>
					<div><input type="submit" name="ssh_set" value="Востановить конфигурацию" ></div>

				</div>

				<div class = 'telnetCon' style="display:none">
					<div><input type="text" name="SERVER_IP" placeholder="Адрес cервера"></div>
					<div><input type="text" name="DEVICES_IP" placeholder="IP адрес устройства"></div>
					<div><input type="text" name="PASSWORD" placeholder="Пароль telnet"></div>
					<div><input type="text" name="EN_PASS" placeholder="Пароль ENABLE"></div>
					<div><input type="text" name="CONF_NAME" placeholder="Имя Конфигурационного файла"></div>
					<div><input type="submit" name="telnet_set" value="Востановить конфигурацию" ></div>
				</div>
			</form>
		</div>


		<div class="column">
			<form action="save_conf" method="POST">
				<div><h3>Сохранение конфигурации</h3></div>
				<div class = 'sshCon'  >
					<div><input type="text" name="DEVICES_IP" placeholder="Адрес узла"></div>
					<div><input type="text" name="USER_NAME" placeholder="Имя пользователя SSH"></div>
					<div><input type="text" name="PASSWORD" placeholder="Пароль пользователя SSH"></div>
					<div><input type="text" name="SERVER_IP" placeholder="Адрес cервера"></div>
					<div><input type="text" name="EN_PASS" placeholder="Пароль ENABLE"></div>
					<div><input type="text" name="CONF_NAME" placeholder="Имя Конфигурационного файла"></div>
					<div><input type="submit" name="ssh_save"  value="Сохранить конфигурацию узлов"></div>
				</div>

				<div class = 'telnetCon' style="display:none">
					<div><input type="text" name="SERVER_IP" placeholder="Адрес cервера"></div>
					<div><input type="text" name="DEVICES_IP" placeholder="IP адрес устройства"></div>
					<div><input type="text" name="PASSWORD" placeholder="Пароль telnet"></div>
					<div><input type="text" name="EN_PASS" placeholder="Пароль ENABLE"></div>
					<div><input type="text" name="CONF_NAME" placeholder="Имя Конфигурационного файла"></div>
					<div><input type="submit" name="telnet_save"  value="Сохранить конфигурацию узлов"></div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<hr>
	<div>
		<form action="/reset_pass/" method="POST">
			<div><h3>Сброс пароля на устройстве</h3></div>
			<div class = 'sshCon'  >
				<div><input type="text" name="DEVICES_IP" placeholder="Адрес узла"></div>
				<div><input type="text" name="username" placeholder="Имя пользователя SSH"></div>
				<div><input type="text" name="PASSWORD" placeholder="Пароль пользователя SSH"></div>
				<div>
					<select name="SERVER_IP">
						<option value="192.168.10.1">192.168.10.1</option>
						<option value="192.168.10.2">192.168.10.2</option>
					</select>
				</div>
				<div><input type="submit" value="Востановить конфигурацию"></div>

			</div>

			<div class = 'telnetCon' style="display:none">


				<select name="SERVER_IP">
					<option value="192.168.10.1">192.168.10.1</option>
					<option value="192.168.10.2">192.168.10.2</option>

				</select>
				<input type="text" name="DEVICES_IP">
				<input type="submit" value="Востановить конфигурацию">
			</div>
		</form>
	</div>
	<hr>
	<hr>
	<div>
		<form action="/restore_os/" method="POST">
			<div><h3>Востановление образа операционной системы узла</h3></div>
			<div class = 'sshCon'  >
				<div><input type="text" name="DEVICES_IP" placeholder="Адрес узла"></div>
				<div><input type="text" name="username" placeholder="Имя пользователя SSH"></div>
				<div><input type="text" name="PASSWORD" placeholder="Пароль пользователя SSH"></div>
				<div><select name="SERVER_IP">
					<option value="192.168.10.1">192.168.10.1</option>
					<option value="192.168.10.2">192.168.10.2</option>

				</select>
			</div>

			<div><input type="submit" value="Востановить конфигурацию"></div>
		</div>

		<div class = 'telnetCon' style="display:none">


			<select name="SERVER_IP">
				<option value="192.168.10.1">192.168.10.1</option>
				<option value="192.168.10.2">192.168.10.2</option>

			</select>
			<input type="text" name="DEVICES_IP">
			<input type="submit" value="Востановить конфигурацию">
			<form action="/save_conf/" method="POST">
			</div>
		</div>
	</div>

	{% endblock %}